/* custom color variables */
:root {
  --primary-color: rgb(145, 200, 244);
  --secondary-color: rgb(221, 240, 255);
  --text-header-color: rgb(39, 55, 70);
}

/* universal resets */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* styles for screen sizes <575px */
body {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, helvetica;
  color: var(--text-header-color);
}

/* flexbox for h1 and nav */
header {
  display: flex;
  flex-direction: row;
  background-color: var(--primary-color);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}

header h1 {
  flex: 4 1 auto;
  font-weight: bold;
  font-size: 60px;
  margin: 0;
  width: 100%;
  text-align: start;
  padding-bottom: 10px;
  color: var(--text-header-color);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

header nav {
  flex: 1 1 auto;
}
/* restating display to put list inline */
header nav ul {
  list-style: none;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-content: center;
}

header nav ul li a {
  border-bottom: 3px solid var(--text-header-color);
  margin: 0 5px;
  font-weight: lighter;
  font-size: 24px;
}

header a {
  text-decoration: none;
}

.hero {
  background-color: var(--primary-color);
  height: auto;
  display: flex;
  justify-content: center;
}

.hero img {
  margin: 15px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.sections {
  padding: 0 30px 20px 30px;
  display: flex;
}

main {
  background-color: var(--secondary-color);
}
main h2 {
  font-size: 36px;
  border-right: 5px solid var(--text-header-color);
  padding-top: 20px;
  padding-right: 20px;
  color: var(--text-header-color);
  flex: 1 1 20%;
  text-align: right;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.sections div {
  flex: 5 1 80%;
}
.intro p {
  padding-top: 20px;
  margin-left: 5%;
  text-align: left;
}

/* nested flexbox for displaying work examples */
.work-examples {
  display: flex;
  flex-flow: row wrap;
}

.run-buddy {
  flex: 2 1 auto;
}

.robot-gladiators {
  flex: 1 1 auto;
}

.horiseon {
  flex: 1 1 auto;
}

/* relative positioning so that .work-text can lay over img */
.work-box {
  margin: 2% 5%;
  position: relative;
}

.work-box img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.work-text {
  position: absolute;
  bottom: 5%;
  left: 2%;
  background-color: var(--primary-color);
  border-radius: 15px;
  font-size: larger;
  color: var(--text-header-color);
}

.contact div ul {
  display: flex;
  padding: 20px 0px;
}

.contact div ul li {
  list-style: none;
  justify-content: space-between;
  flex: 0 1 100%;
  font-size: 24px;
}

.contact div ul li a {
  text-decoration: none;
  color: var(--text-header-color);
}

footer {
  background-color: var(--primary-color);
  font-size: 22px;
}

/* media query for screen sizes 575-768px */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    justify-content: center;
  }

}


/* media query for screen sizes 768-980px */
/* @media screen and (min-width: 768px) {

}

/* media query for 980+px 
@media screen and (min-width: 980px) {

}  */